{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
<!-- https://django-crispy-forms.readthedocs.io/en/latest/filters.html -->
{% block content %}
<div class="content-section ml-5">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn my-3 btn-outline-info" type="submit">Log In</button>
            <small class="text-muted ml-2">
                <a class="my-3" href="{% url 'password_reset' %}">Forgot password?</a>
            </small>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Do not have a account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
        </small>
    </div>
</div>
{% endblock content %}